<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Explore the World of Food, Conquer Your Taste Buds">
    <meta name="theme-color" content="#028446"/>

    <link rel="icon" href="./favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="manifest" href="./app.webmanifest">

    <title>Point!</title>
  </head>

  <body>
    <a href="#main" class="skip-link" id="skipLink">Skip to Content</a> 

    <header>
      <menu-bar></menu-bar>
    </header>

    <slide-show></slide-show>

    <main id="main"></main>

    <footer>
      <my-footer></my-footer>
    </footer>
  </body>

  <script type="text/javascript" src="//use.typekit.net/ysa1ltb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</html>
